# Generic ones
.DS_Store
.vagrant
web/current
web/builds
web/.make_cache
web/drupal.sqlite
.idea
ansible
local.*
test/composer.lock
test/vendor
test/bin
VERSION
.vscode
.readme

# Ignore secrets folder
secrets

# Ignore python virtualenv created by provision.sh
.virtualenv

# Ignore database dumps
web/db

# Ignore node modules
node_modules
