@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300|Roboto:300,300i,400,400i&subset=cyrillic');

//font-family: 'Roboto', sans-serif;
//font-family: 'Roboto Condensed', sans-serif;

@font-face {
  font-family: 'icon-font';
  src: url('../../../fonts/icon-font/font/icon-font.woff2?v9') format('woff2'),
    url('../../../fonts/icon-font/font/icon-font.woff?v9') format('woff');
  font-weight: normal;
  font-style: normal;
}
