$icon-pdf: '\e800'; 
$icon-users: '\e801'; 
$icon-plus: '\e802'; 
$icon-minus: '\e803'; 
$icon-arrow-down: '\e804'; 
$icon-help: '\e805'; 
$icon-microphone: '\e806'; 
$icon-drag-n-drop: '\e807'; 
$icon-sites: '\e808'; 
$icon-clock: '\e809'; 
$icon-user: '\e80a'; 
$icon-arrow-down-small: '\e80b';
$icon-logout: '\e80c';
$icon-paperclip: '\e80d'; 
$icon-bookmark: '\e80e'; 
$icon-close: '\e80f'; 
$icon-sad-face: '\e812'; 
$icon-smile-face: '\e813'; 
$icon-search: '\e814'; 
$icon-video: '\e815';
$icon-trash: '\e816';
$icon-menu: '\e820'; 
$icon-more-vertical: '\e821';
