//------------------------------------------------------------------
// [Colors]
//-------------------------------------------------------------------

$color-gray-100: #f8f8f8;
$color-gray-150: #f6f6f6;
$color-gray-200: #eee;
$color-gray-300: #ddd;
$color-gray-400: #ccc;
$color-gray-450: #bbb;
$color-gray-500: #999;
$color-gray-600: #888;
$color-gray-700: #656565;
$color-gray-800: #5f5f5f;
$color-gray-850: #444;
$color-gray-880: #333;
$color-gray-900: #2f2f2f;

$color-blue-1: #2f607f;
$color-blue-2: #0a1f2c;
$color-blue-3: #2D56C6;

$color-red-1: #C5242B;
$color-red-2: #B84D52;
$color-red-3: #D7686D;
$color-red-4: #5E0000;

$color-green-1: #6dcd21;
$color-green-2: #6EC20D;

$color-yellow-1: #FEFFDA;
